/* =========================================================
    default theme
    --------------------------------------------------------
    Fonts : Raleway and Open Sans
    --------------------------------------------------------
    Color :
        Moon Yellow :   #f4c613
        Grey :          #212226
        White Smoke :   #f4f4f4
        White :         #fff
        Black :         #000
============================================================ */


/* ========================================================
                        html, body
=========================================================== */
html,body{
    height: 100%;
}

body{
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Raleway", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400px; 
    line-height: 24px;
}

section{
    background: #fff;
    overflow: hidden;
}
/* ========================================================
                        preloader
=========================================================== */
#preloader{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status{
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    /* biar lurus 70/2 = 35 */
    margin-top: -35px;
    margin-left: -35px;

}
#test {
    font-family: "Raleway",
    sans-serif;
}

/* ========================================================
                        home
=========================================================== */

#home-bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
}

#home-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#home{
    background: none;
    height: 100%;
}
/* #arrow-down{
    z-index: 1;
} */

#home-content{
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1{
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span{
    color: #f4c613;
    font-weight: 400;
}

#home-text p{
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/* ========================================================
                        button
=========================================================== */

#btn-home{
    color: #fff;
    font-family: 'Raleway',sans-serif;
    border-color: #fff;
    border-radius: 40px;
    font-size: 13px;
    -webkit-border-radius: 40px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

#btn-home:hover,
#btn-home:focus{
    border: 1px solid #f4c613;
    background: #f4c613;
}

.btn-yellow {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-color: #f4c613;
    border-color: #fff;
    border-radius: 40px;
    font-size: 13px;
    -webkit-border-radius: 40px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.btn-yellow:hover,
.btn-home:focus {
    color: #fff;
    border: 1px solid #f4c613;
    background: #212121;
}

/* ========================================================
                        arrow down
=========================================================== */
#arrow-down{
    position: absolute;
    left: 49%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    height: 32px;
    text-align: center;
    margin-right: 16px;
    z-index: 1;
}

#arrow-down:focus,
#arrow-down:hover{
    color: #f4c613;
}
/* ========================================================
                      content boxes
=========================================================== */
.content-box-lg{
    padding: 120px 0;  
}
.content-box-md{
padding: 100px 0;
}
/* ========================================================
                    vertical/horizontal heading
=========================================================== */
.vertical-heading h5{
    font-size: 14px;
    color: #f4c613;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    position: relative;
    left: -55px;
    top: 60px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.horizontal-heading{
    margin-bottom: 80px;
}

.horizontal-heading h5{
    color: #f4c613;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
.horizontal-heading h2{
    margin: 0;
}

.vertical-heading h2{
    margin: 0 0 0 30px;
    
}
.vertical-heading h2,
.horizontal-heading h2{
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

/* ========================================================
                        about 01
=========================================================== */
#about-right p:first-child{
    margin-bottom: 30px;
}

#about-bottom{
    margin-top: 60px;
}

#about-bottom img{
    margin: 0 auto;
}

/* ========================================================
                        about 02
=========================================================== */
#about-02{
    background-color: #f4f4f4;
}

.about-item{
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
.about-item i{
    font-size: 42px;
    margin: 0;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item>p{
    margin-top: 20px;
}

.about-item:hover{
    background-color: #f4c613;
}
.about-item:hover i,
.about-item:hover p,
.about-item:hover h3 {
    color: #fff;
}

.about-item:hover hr{
    background-color: #fff;
}

.about-item{
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

.about-item:hover i{
    transition: all 400ms ease-in ;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -webkit-transition: all 400ms ease-in ;
    -moz-transition: all 400ms ease-in ;
    -ms-transition: all 400ms ease-in ;
    -o-transition: all 400ms ease-in ;
}

/*===================================================
                        Team
===================================================== */
#team-left .vertical-heading{
    min-height: 160px;
}

.team-member{
    margin: 8px;
    position: relative;
}

.team-member-overlay{
    background-color: rgba(34, 38, 38, .8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.team-member-info{
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6{
    color: #f4c613;
    font-size: 16px;
    margin: 0;
}

.team-member-info p{
    color: #f4f4f4;
}

.team-member:hover .team-member-overlay{
    opacity: 1;
}


/*===================================================
                        Social List
===================================================== */
ul.social-list{
    padding: 0;
    margin-top: 20px;
}

.social-list li{
    display: inline-block;
    padding: 0;
}

ul.social-list li a{
    border: 1px solid #f4f4f4;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #f4f4f4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background: #3b5998;
    border: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background: #3b5998;
    border: transparent;
}

/*===================================================
                    Slider Buttons
===================================================== */


/*===================================================
                        Skill
===================================================== */
.skill{
    margin-bottom: 20px;
}

.skill h4{
    line-height: 60px;
    margin: 0;
    font-weight: normal;
}
 */
.progress{
    /* ini belom masuk */
    height: 25px;
    background: #f4c613;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    overflow: visible;

}

.progress .progress-bar{
    background-color: #f4c613;
    position: relative;
}

.progress-bar span{
    font-size: 10px;
    color: #f4f4f4; 
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    /* background: #212226  ; */
    padding: 2px;
    position: absolute;
    left: 93%;
}

/*===================================================
                        statment
===================================================== */

#statment{
    background: url(../img/tech/tech-quote.jpg) no-repeat fixed center;
    background-size: cover;
}
#statment .content-box-lg{
    background: rgba(0, 0, 0, 0.3)
}

#tech-statment h3{
    color: #fff;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;   
    font-size: 28px;
}

#tech-statment p{
    color: #f4c613;
    font-size: 14px;
}

/*===================================================
                        services
===================================================== */
.col-md-7 img{
    margin: 60px 0;
}

.service {
    margin: 30px 0;
}

.service .icon{
    font-size: 42px;
    margin: 0;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
}

.service:hover .icon{
    color: #f4c613;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

.service h5{
    font-size: 12px;
    color: #f4c613;
    text-transform: uppercase;
    margin: 0 0 6px 0;
}

.service:hover h5{
    color: #212226;
}

.service h4{
    font-size: 24px;
    margin: 0 0 8px 0;
} 

.service p{
    line-height: normal;
}

/*===================================================
            services 02 responsive tab
===================================================== */

#ser-02{
    background: #f4f4f4;
}   

#ul-header {
    margin-bottom: 40px;
}

#ul-header li{
    padding: 5px 10px;
}

#ul-header li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212121;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0;
    text-decoration: none;
}

/* tab active state */
#ul-header li.r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    transition:border-color 300ms linear;
    -moz-transition:border-color 300ms linear;
    -ms-transition:border-color 300ms linear;
    -o-transition:border-color 300ms linear;
    -webkit-transition:border-color 300ms linear;
}
.service-tab .col-md-6{
    padding: 0;
}

.service-tab img{
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg{
    background-color: #fff;
    padding: 59px 30px;
    min-height: 481px;
}

.service-tab h2{
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 300;
}

.service-tab h3{
    font-size: 32px;
    margin-bottom: 30px;
}

.service-tab p{
    line-height: 24px;
    margin-bottom: 30px;
}


/*===================================================
                    porfolio
===================================================== */
#portofolio{
    padding-bottom: 160px;
}
#portofolio .vertical-heading {
    margin-bottom: 50px;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portofolio-item{
    overflow: hidden;
    position: relative;
}

/* filter css */
#isotope-filters{
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", "sans-serif";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    transition:border-color 4s is-in-out;
    -moz-transition:border-color 4s is-in-out;
    -ms-transition:border-color 4s is-in-out;
    -o-transition:border-color 4s is-in-out;
    -webkit-transition:border-color 4s is-in-out;
}

#isotope-filters button.active span {
    color:#f4c613;
    border-bottom: 3px solid #f4c613;
}

/* zoom efect */

.portofolio-item img{
    width: 100%;
    height: auto;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}

.portofolio-item:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* overlay effect */
.potofolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, .9);
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

/* items detail effect */
.portofolio-item-detail{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.portofolio-item-detail h3{
    color: #f4c613;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transition: all .8s;
}

.portofolio-item-detail span{
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portofolio-item-detail p{
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transition: all .8s;
}

/* show overlay on mouse over */
.portofolio-item:hover .portofolio-item-detail h3{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.portofolio-item:hover .portofolio-item-detail p {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
 
.portofolio-item:hover .potofolio-item-overlay{
    opacity: .9;
}

/*===================================================
                    testimonials
===================================================== */
#testimonials{
    background: #f4f4f4;
    padding-bottom: 45px;
    overflow: visible;
}

#testimanials .vertical-heading{
    padding: 80px 0;
    margin-bottom: 50px;
}

#testimonial-slider{
    background: #f4c613;
    top: -120px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: #fff;
}

.testimonial h3{
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars{
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.testimonial p{
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}